In [12]:
import pandas as pd

In [13]:
gcj_df = pd.read_csv("/home/profniggastein/PycharmProjects/ReducedDataset/gcj2009.csv")
gcj_df = gcj_df[gcj_df['file'].str.endswith('.cpp', na=False)]
selected_columns = ['username', 'task', 'file', 'flines', 'solution']
gcj_df = gcj_df[selected_columns].reset_index(drop=True)
gcj_df

,username,task,file,flines,solution
0,bhamrick,144111,B.cpp,#include<queue>\n #include<cstdio>\n #include<...,1
1,bhamrick,144111,B.cpp,#include<queue>\n #include<cstdio>\n #include<...,0
2,bhamrick,168107,A.cpp,#include<map>\n #include<set>\n #include<cstdi...,1
3,bhamrick,168107,A.cpp,#include<set>\n #include<cstdio>\n #include<cs...,0
4,kyu.bok.l,168107,A-small.cpp,#include <vector>\n #include <list>\n #include...,0
...,...,...,...,...,...
32398,nika,339102,E.cpp,#include <cstdio>\n #include <cstdlib>\n #incl...,0
32399,nika,322101,D.cpp,#include <cstdio>\n #include <cstdlib>\n #incl...,1
32400,nika,322101,D.cpp,#include <cstdio>\n #include <cstdlib>\n #incl...,0
32401,nika,319101,C.cpp,#include <cstdio>\n #include <cstdlib>\n #incl...,0
32402,nika,317103,B.cpp,#include <cstdio>\n #include <cstdlib>\n #incl...,0

In [14]:
gcj_correct= gcj_df[gcj_df['solution'] == 1].reset_index(drop=True)
gcj_correctexp = gcj_correct.head(1500)
gcj_correct

,username,task,file,flines,solution
0,bhamrick,144111,B.cpp,#include<queue>\n #include<cstdio>\n #include<...,1
1,bhamrick,168107,A.cpp,#include<map>\n #include<set>\n #include<cstdi...,1
2,Descent,144111,b2.cpp,"#include <cstdio>\n int cs,n,m,a[25][25],b[25]...",1
3,magicdlf,168107,Multi-baseHappiness.cpp,// Multi-baseHappiness.cpp : ̨Ӧóڵ㡣\n //\n \n #...,1
4,nase,168107,al.cpp,"#include ""al.h""\n \n template< typename type >...",1
...,...,...,...,...,...
13835,bmerry,339102,e.cpp,#include <string>\n #include <vector>\n #inclu...,1
13836,bmerry,319101,c.cpp,#include <string>\n #include <vector>\n #inclu...,1
13837,marek.cygan,322102,a.cpp,#include <cstdio>\n #include <iostream>\n #inc...,1
13838,marek.cygan,322101,d.cpp,#include <cstdio>\n #include <iostream>\n #inc...,1
13839,nika,322101,D.cpp,#include <cstdio>\n #include <cstdlib>\n #incl...,1

In [15]:
gcj_incorrect = gcj_df[gcj_df['solution'] == 0].reset_index(drop=True)
gcj_incorrect = gcj_incorrect.head(13768)
gcj_incorrectexp = gcj_incorrect.head(1500)
gcj_incorrect

,username,task,file,flines,solution
0,bhamrick,144111,B.cpp,#include<queue>\n #include<cstdio>\n #include<...,0
1,bhamrick,168107,A.cpp,#include<set>\n #include<cstdio>\n #include<cs...,0
2,kyu.bok.l,168107,A-small.cpp,#include <vector>\n #include <list>\n #include...,0
3,hyf,168107,A.cpp,#include <iostream>\n #include <sstream>\n #in...,0
4,Macavity,168107,Unit1.cpp,//--------------------------------------------...,0
...,...,...,...,...,...
13763,missiondone,171121,model.cpp,#include<iostream>\n #include<fstream>\n #incl...,0
13764,Edans,156117,prob.cpp,#include <stdio.h>\n #include <stdlib.h>\n #in...,0
13765,Edans,192120,prob.cpp,#include <stdio.h>\n #include <stdlib.h>\n #in...,0
13766,Edans,171121,prob.cpp,#include <stdio.h>\n #include <stdlib.h>\n #in...,0
13767,ilinca,171121,base.cpp,#include <stdio.h>\n #include <string.h> \n \n...,0

In [16]:
gcj_balanced = pd.concat([gcj_correct, gcj_incorrect], ignore_index=True)
gcj_balancedexp = pd.concat([gcj_correctexp, gcj_incorrectexp], ignore_index=True)
gcj_balanced = gcj_balanced.sample(frac=1).reset_index(drop=True)  # Shuffle the DataFrame
gcj_balancedexp = gcj_balancedexp.sample(frac=1).reset_index(drop=True)  # Shuffle the DataFrame
#gcj_balanced.to_csv('/home/profniggastein/PycharmProjects/ReducedDataset/gcj2009_balanced.csv', index=False)
gcj_balancedexp.to_csv('/home/profniggastein/PycharmProjects/ReducedDataset/gcj2009_balanced_exp.csv', index=False)
gcj_balanced

,username,task,file,flines,solution
0,zlfengyi1,111101,2.cpp,#include<iostream> \n using namespace std;\n c...,1
1,ichirin,168107,jamA.cpp,#include <iostream>\n #include <cstdlib>\n #in...,0
2,albaniliu,111101,b.cpp,#include <vector>\n #include <list>\n #include...,1
3,Sc00bz,171121,a.cpp,#include <iostream>\n #include <string>\n \n u...,0
4,coeurl,171121,a.cpp,#include <iostream>\n #include <cstdio>\n #inc...,0
...,...,...,...,...,...
27603,notzeb,111101,water.cpp,"#include <iostream>\n \n #define f(x,y) for (i...",1
27604,HenryNSW,241102,A.cpp,#include <vector>\n #include <list>\n #include...,0
27605,mahsheed,111101,Watersheds.cpp,#include<iostream>\n #include<algorithm>\n #in...,1
27606,shangjingbo,116101,A.cpp,#include <cstdio>\n #define maxl 20\n #define ...,0
27607,VivekS67,111101,B.cpp,#include <vector>\n #include <list>\n #include...,1

In [17]:
gcj_balancedexp

,username,task,file,flines,solution
0,Major,168107,main.cpp,#include <iostream>\n #include <vector>\n #inc...,1
1,moondy,168107,A.cpp,#include <cstdio>\n #include <cstring>\n #incl...,0
2,huicpc302,190103,3.cpp,#include<stdio.h>\n \n long long C[45][45];\n ...,1
3,mdragus,144111,cross.cpp,#include<stdio.h>\n #include<vector>\n #includ...,0
4,Ryan,168107,A.cpp,#include <iostream>\n #include <sstream>\n #in...,0
...,...,...,...,...,...
2995,taogenie,241102,1.cpp,#include <fstream>\n #include <iostream>\n usi...,1
2996,SpaceFlyer,144111,B.cpp,#include <iostream>\n #include <cstring>\n usi...,1
2997,venkateshb,144111,B.cpp,#include <iostream>\n #include <algorithm>\n #...,0
2998,metaboy,168107,pa.cpp,#include <vector>\n #include <queue>\n #includ...,0
2999,Butterfly,190103,Cards.cpp,/*\n Coder: Butterfly21\n Task: Collecting Car...,0